* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 20px 350px;
    background: #62639B;
}

@import './variables';
@import './Header';
@import './Article';
@import './LinkButton';